repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: just ruff
        language: system
        files: \.py$
        types: [python]
        pass_filenames: false

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.13
    hooks:
      - id: uv-lock
        name: Update uv lockfile

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
        exclude: apps/.*/templates/.*\.ya?ml$
      # - id: detect-private-key
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  # - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  #   rev: v2.14.0
  #   hooks:
  #     - id: pretty-format-toml
  #       args: [--autofix, --no-sort]

  # - repo: https://github.com/kynan/nbstripout
  #   rev: 0.5.0
  #   hooks:
  #     - id: nbstripout
