name: Test and update master

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  test:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Set up just
        uses: extractions/setup-just@v2

      - name: Install dependencies and test
        run: |
          just prepare
          just install

      - name: Push to main if tests pass
        if: success()
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
